$font-family: "Noto Sans JP", sans-serif;

$font-size-title: 38px;
$font-size-large: 36px;
$font-size-medium: 32px;
$font-size-body: 26px;
$font-size-small: 22px;
$font-size-caption: 20px;
$font-size-note: 16px;

$line-height-tight: 1.15;
$line-height-normal: 1.21;
$line-height-loose: 1.5;
