@use "color" as color;
@use "size" as size;

/*!
 * @theme orange
 * @auto-scaling true
*/

/* stylelint-disable */
@import url("default");
/* stylelint-enable */

@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap";

$default-font-family: "Noto Sans JP", sans-serif;

section {
  font-family: $default-font-family;

  &.cover {
    background: color.$primary;
    padding: calc(size.$padding-outer + size.$padding-inner);

    &::before {
      content: "";
      position: absolute;
      width: calc(100% - (size.$padding-outer * 2));
      height: calc(100% - (size.$padding-outer * 2));
      inset: size.$padding-outer;
      background: white;
      border-radius: 16px;
      box-shadow:
        0 4px 4px rgb(0 0 0 / 10%),
        0 1px 6px rgb(0 0 0 / 5%),
        0 8px 8px rgb(0 0 0 / 10%),
        0 16px 16px rgb(0 0 0 / 10%),
        8px 32px 32px rgb(0 0 0 / 15%),
        8px 64px 64px rgb(0 0 0 / 15%);
      z-index: 0;
    }

    h1,
    h2,
    p,
    img {
      position: relative;
      z-index: 1;
    }

    h1 {
      font-weight: bold;
      color: color.$text-base;
    }
  }
}
