/*!
 * @theme orange
 * @auto-scaling true
*/

@import url("default");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

section {
    font-family: 'Noto Sans JP', serif;
}
