/*!
 * @theme orange
 * @auto-scaling true
*/

/* stylelint-disable */
@import url("default");
/* stylelint-enable */

@import "https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap";

section {
  font-family: "Noto Sans JP", serif;
}
